<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Chrome">
			<action name="Execute">
				<execute>/usr/bin/google-chrome-stable --start-maximized --password-store=basic</execute>
			</action>
		</item>
		<item label="Files">
			<action name="Execute">
				<execute>nautilus --new-window</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="Sublime Text">
			<action name="Execute">
				<execute>/opt/sublime_text/sublime_text</execute>
			</action>
		</item>
		<item label="Calibre">
			<action name="Execute">
				<execute>calibre --detach</execute>
			</action>
		</item>
		<item label="EasyTag">
			<action name="Execute">
				<execute>easytag</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<execute>gimp-2.8</execute>
			</action>
		</item>
		<item label="Gnome Disks">
			<action name="Execute">
				<execute>gnome-disks</execute>
			</action>
		</item>
		<item label="i3lock">
			<action name="Execute">
				<execute>i3lock -c 333333</execute>
			</action>
		</item>
		<item label="KeepassXC">
			<action name="Execute">
				<execute>keepassxc</execute>
			</action>
		</item>
		<item label="Pavucontrol">
			<action name="Execute">
				<execute>pavucontrol</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<menu id="/Debian"/>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="ObMenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
